@charset "UTF-8";
/* CSS Document */

a:link, a:active, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
body {
	background-image:url(../images/sky.jpg);
	background-repeat: no-repeat;
	background-color: #4374b0;
}
p {
	font-family:Rockwell, Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000;
	line-height:130%;
}
ul {
	font-family:Rockwell, Verdana, Geneva, sans-serif;
	font-size:22px;
	color:#000;
	line-height:120%;
}
h1 {
	font-family:Rockwell, Verdana, Geneva, sans-serif;
	font-size:22px;
	color:#000;
}
h2 {
	font-family:Rockwell, Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#000;
}
#container {
	width:960px;
	height:660px;
	margin:0 0 0 0;
}
#footer {
	width:910px;
	height:40px;
	margin:0 0 0 50px;
	padding:10px 0 0 0;
	background-image:url(../images/footer.jpg);
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:150%;
	color:#FFF;
	text-decoration: none;
}
#footer a {
	color:#FFF;
	text-decoration: none;
}
#logo {
	width:440px;
	height:180px;
	margin:80px 0 0 50px;
	float:left;
	background-image:url(../images/logo.jpg);
	background-repeat:no-repeat;
}
#nav {
	width:440px;
	height:40px;
	margin:0 0 0 50px;
	float:left;
}
#saj {
	width:240px;
	height:246px;
	background-image:url(../images/saj.png);
	left: 230px;
	top: 350px;
	position: relative;
	z-index: 999;
}
#samples {
	width:317px;
	height:309px;
	background-image:url(../images/samples.png);
	left: 150px;
	top: 330px;
	position: relative;
	z-index: 999;
}
#text {
	width:330px;
	padding:0 30px 0 0;
	height:520px;
	margin:30px 0 0 60px;
	overflow:auto;
}
#textframe {
	width:460px;
	height:580px;
	margin:80px 10px 0 0;
	float:right;
	background-image:url(../images/textbody.jpg);
	background-repeat:no-repeat;
}
.link {
	font-family:Rockwell, Verdana, Geneva, sans-serif;
	font-style:italic;
	font-size:14px;
}