* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	background: #6ac;
	color: #000;
}
body {
	font-family: "Arial Narrow", sans-serif;
    word-spacing: 0.1em;
}
#content p, #content li {
	font-family: Arial Narrow, sans-serif;
}
div#container {
	background: #fff;
	border: 2px solid #000;
	width: 750px;
	margin: 0 auto;
}
/* COLORS */
h1 {
	color: black;
	text-align: center;
}
h2, h3, h4 {
	color: #2ac;
	text-align: left;
}
a, a:visited {
	color: #008;
}
ul#header, div#footer, a:hover {
	background-color: #299;
}

/* SPACING ADJUSTMENTS */
#content {
	margin: 0 2em 0 1em;
} 
ul#header {
	margin-bottom: 1em;
}
ul#header li {
	display: inline;
	list-style-type: none;
	margin: 0 2em 0 0.5em;
	padding: 0;
}
div#footer {
	margin-top: 7em;
	text-align: center;
	color: white;
}
ul#header, div#footer {
	padding: 4px 0;
}
a:visited, a img {
	text-decoration: none;
}
li img {
	margin-right: 5px;
}
#content ul, #content ol {
	margin-left: 2em;
}
#content li {
	margin-top: 1em;
}
h2 {
	margin-top: 2em;
}
h3, h4 {
	margin-top: 1.5em;
}
p {
	margin: 0.5em 2em 1em 0.5em;
	line-height: 1.4em;
}
.small, div#footer {
	font-size: 0.75em;
}
img#headshot {
	position: inline;
	float: right;
	margin: 0 0 1em 1em;
}
h1 {
	font-size: 2.75em;
}
